@media screen and (max-width: 507px) {
  .tips {
    flex-direction: column;

    .divmateriales,
    .divlavado {
      width: 300px;
      height: auto;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 499px) {
  .carousel-inner {
    .carousel-item {
      img {
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: 457px) {
  .informacion {
    margin: 1px;
    padding: 1px;

    h3 {
      font-size: 15px;
    }

    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: black;
      font-size: 10px;
    }
  }

  .seguinos {
    margin: 1px;
    padding: 1px;

    h3 {
      font-size: 15px;
    }

    a {
      img {
        width: 35px;
        height: auto;
      }
    }
  }

  .ubicacion {
    margin: 1px;
    padding: 1px;

    h3 {
      font-size: 15px;
    }

    iframe {
      width: 100px;
      height: 100px;
    }
  }
}

@media screen and (max-width: 670px) {
  .catalogo {
    display: flex;
    flex-direction: column;
  }
}