@media screen and (max-width: 676px) {
  .tips {
    flex-direction: column;
    align-items: center;
  }

  .divmateriales,
  .divlavado {
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 499px) {
  .carousel-inner .carousel-item img {
    padding: 5px;
  }
}

@media screen and (max-width: 514px) {
  .informacion {
    margin: 1px;
    padding: 1px;
  }

  .informacion h3 {
    font-size: 15px;
  }

  .informacion a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 10px;
  }

  .seguinos {
    margin: 1px;
    padding: 1px;
  }

  .seguinos h3 {
    font-size: 15px;
  }

  .seguinos a img {
    width: 35px;
    height: auto;
  }

  .ubicacion {
    margin: 1px;
    padding: 1px;
  }

  .ubicacion h3 {
    font-size: 15px;
  }

  .ubicacion iframe {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 670px) {
  .catalogo {
    display: flex;
    flex-direction: column;
  }
}