header {
  background-color: beige;
  position: sticky;
  top: 0;
  z-index: 9999;
  .imgcontainer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      ". img .";
    img {
      grid-area: img;
      justify-self: center;
      max-width: 100%;
    }
  }
nav.navbar.bg-body-tertiary {
  background-color: rgba(175, 240, 218, 0.555) !important;

  .navbar-brand {
    img {
      width: 50% !important;
      height: auto;
      border: 2px solid red !important; // prueba visual
    }
  }
}

.collapse .navbar-collapse{ 
  .navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .nav-link {
      color: black;
    }
    a {
      font-size: 20px;
      padding: 5px;
    }
  }
}