nav.navbar.bg-body-tertiary {
  background-color: rgba(175, 240, 218, 0.555) !important;

  .navbar-brand {
    img {
      width: 50% !important;
      height: auto;
      border: 2px solid red !important; // prueba visual
    }
  }
}